<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Chat</title>
</head>
<body>
    <p>Edit Your Chat: <%= chat._id %></p>
    <p>This chat was send from: <b><%= chat.from %></b> to <b><%= chat.to %></b></p>
    <br>
    <form action="/chats/<%= chat._id %>?_method=PUT" method="POST">
        <textarea name="message" rows="6" cols="35"><%= chat.message %></textarea><br>
        <button type="submit">Update Chat</button>
    </form>
</body>
</html>